* {
  /*outline: 1px solid blue;*/
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

body {
  background-image: url('http://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 0.90em;
}

.center-me {
  position: relative;
  top: 100px;
  margin: auto;
  width: 60%;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #DFDCE3;
  color: grey;
  box-shadow: 10px 10px 5px #888888;
}

.splash {
  position: relative;
  top: 100px;
  margin: auto;
  width: 60%;
  text-align: center;
  padding-top: 90px;
  font-size: 2em;
  color: white;
}

.submit {
  color: black;
}

.issue-listing {
  margin: auto;
  margin-bottom: 30px;
  width: 50%;
}
