<%issues.each do |issue|%>
  <hr><div class="issue-listing">
    <h3><%=issue.summary%></h3>
    <p><%=issue.category.title%></p>
    <p><%=issue.details%></p>
    <p><%=issue.created_at.strftime("%b %d, %Y")%></p>
  </div>
<%end%>
