<h1>Make a new account</h1>
<div>
  <form id="sign-up" action="/sign_up" method="post">
    Enter your last name:<br><br>
    <input class="form"  type="text" name="last_name" placeholder="Last Name"><br><br>
    Enter your first name:<br><br>
    <input class="form"  type="text" name="first_name" placeholder="First Name"><br><br>
    Enter your email:<br><br>
    <input class="form"  type="text" name="email" placeholder="Email Address"><br><br>
    Create a password:<br><br>
    <input class="form"  type="password" name="password" placeholder="Enter a password"><br><br>
    Select your phase:<br><br>
    <select name="phase" form="sign-up">
      <option value="Phase 1">Phase 1</option>
      <option value="Phase 2">Phase 2</option>
      <option value="Phase 3">Phase 3</option>
    </select><br><br>
    <input class="submit" type="submit" value="Create your account">
  </form><br>
</div>
