<div class="center-me">
  <h1>Hey there <%=@user.first_name%></h1>
  <h2>Ready to bug James?</h2>
  <form action="/questions/new" method="get">
    <input type="submit" value="Ask James!">
  </form>
</div>
