<div class="center-me">
  <form action="/questions" method="post">
    <h2>Select a category</h2>
    <select name="category">
      <%@categories.each do |category|%>
        <option value="<%=category.id%>"><%=category.title%></option>
      <%end%>
    </select><br>
    <h3>Write a Brief Summary</h3>
    <input type="text" name="summary" placeholder="summary"><br>
    <h3>Now the gritty details</h3>
    <input type="text" name="details" placeholder="details">
  </form>
</div>
