<div class="question-container">
  <form action="/questions" method="post">
    <h3>Select a category</h3>
    <select name="category">
      <%@categories.each do |category|%>
        <option value="<%=category.id%>"><%=category.title%></option>
      <%end%>
    </select><br>
    <input type="text" name="summary" placeholder="summary"><br>
    <input type="text" name="details" placeholder="details">
  </form>
</div>
