<div class="splash">
  <div class="inner">
    <h1>Welcome to Page-a-Mentor!</h1>
    <form id="log-in" action="/sessions/new">
      <input style="background-color: red; color: white; border: red;" class="submit" type="submit" value="Log In">
    </form><br>
    <form id="sign-up" action="/users/new">
      <input style="background-color: red; color: white; border: red;" class="submit" type="submit" value="Sign Up">
    </form>
  </div>
</div>
