<div class="splash">
  <div class="inner">
    <h1>Welcome to AskJames!</h1>
    <form id="log-in" action="/sessions/new">
      <input class="submit" type="submit" value="Log In">
    </form><br>
    <form id="sign-up" action="/users/new">
      <input class="submit" type="submit" value="Sign Up">
    </form>
  </div>
</div>
