<div class="center-me">
  <h1>Welcome to Ask James!</h1>
  <div>
    <h2>Log in here</h2>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="email"><br><br>
      <input type="password" name="password" placeholder="password"><br><br>
      <input type="submit" value="Log In">
    </form><br>
    <p><a href="/sign_up/new" id="new-account">Don't have an account? make one here!</a></p>
  </div>
</div>
